# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
.venv_e2e/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build and Distribution
build/
dist/
*.egg-info/

# Operating System files
.DS_Store
